@{
    ViewBag.Title = "TransferWishView";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="searchBar">
	<ul>
		<li><span class="title">心愿标题：</span>
			<input col="Title" type="text" />
		</li>
	</ul>
</div>
<div id="DataGrid">
</div>
<script>
	Search = function () {
		Reflesh();
	};

	var url = "/Admin/Wish/WishJson";
	//刷新
	function Reflesh() {
		var param = $(".searchBar").GetPostData();
		param.Status = 2;
		DataGridExtend.searchGrid("DataGrid", param, url);
	};

	$(function () {
		var param = $('.searchBar').GetPostData();
		param.Status = 2;
		$('#DataGrid').U1EasyGrid({
			queryParams: param,
			singleSelect: false,
			url: url,
			columns: [[
                { field: 'ck', title: '选择', checkbox: true },
                { field: 'Title', title: '心愿标题', align: 'center', width: 250 },
                { field: 'Name', title: '许愿人', align: 'center', width: 80 },
				{ field: 'User', title: '发起人', align: 'center', width: 80 },
                { field: 'DateStart', title: '发布时间', align: 'center', width: 100, formatter: DataGridExtend.datetimeFormat },
				{ field: 'Status', title: '状态', align: 'center', width: 100, formatter: StatusFormat },
				{ field: 'Count', title: '访问量', sortable: true, align: 'center', width: 100 },
                { field: 'op', title: '操作', align: 'center', formatter: opFormat, width: 150 }
          ]]
		});
	});

	function StatusFormat(v, row, rowIndex) {
		var str = "未认领";
		if (v == 1) {
			str = "已认领 <br /> <span>" + row.ApplyUser + "</span>";
		} else if (v == 2) {
			str = "已结束";
		}
		return str;
	}

	//操作列
	function opFormat(val, row, rowIndex) {
		var html = "";
		html = "<a href=\"javascript:void(0)\"  onClick=\"Transfer('" + row.ID + "')\" >转送认领</a> | ";
		html = "<a href=\"javascript:void(0)\"  onClick=\"Edit('" + row.ID + "')\" >编辑</a> | ";
		html += "<a href=\"javascript:void(0)\"  onClick=\"Del('" + row.ID + "')\" >删除</a>";
		return html;
	}

	function Transfer(id) {
		openPage('转送愿望', '/admin/Wish/TransferWishJson?id=' + id + "&tab=" + getTabTitle());
	}

	function Edit(id) {
		openPage('编辑心愿', '/admin/Wish/EditWishView?id=' + id + "&tab=" + getTabTitle());
	}

	function Del(id) {
		if (confirm('确认要删除该心愿吗？')) {
			$.U1Ajax('/admin/Wish/DeleteWishJson/' + id, null, function (result) {
				if (result.Tag == 1) {
					alert("删除成功！");
					Reflesh();
				} else {
					alert(result.Message);
				}
			}, false);
		}
	}
</script>

