@{
    ViewBag.Title = "WaitWishView";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="searchBar">
	<ul>
        <li>
			<span class="title">心愿标题：</span>
			<input col="Title" type="text" />
		</li>
	</ul>
</div>
<div class="toolBar">
	<table cellpadding="0" cellspacing="0">
        <tr>
            <td>
	            <a href="javascript:void(0)" class="easyui-linkbutton" plain="false" iconcls="icon-add"
	               onclick="Audit()">批量审核</a>
            </td>
        </tr>
    </table>
</div>

<div id="DataGrid">
</div>
<script>
	Search = function () {
		Reflesh();
	};

	var url = "/Admin/Wish/WaitWishJson";
	//刷新
	function Reflesh() {
		var param = $(".searchBar").GetPostData();

		DataGridExtend.searchGrid("DataGrid", param, url);
	};

	$(function () {
		var param = $('.searchBar').GetPostData();

		$('#DataGrid').U1EasyGrid({
			queryParams: param,
			singleSelect: false,
			url: url,
			columns: [[
                { field: 'ck', title: '选择', checkbox: true },
                { field: 'Title', title: '心愿标题', align: 'center', width: 250 },
				{ field: 'UserName', title: '发起人', align: 'center', width: 80, formatter: PublishName },
                { field: 'Name', title: '许愿人', align: 'center', width: 80 },
                { field: 'DateStart', title: '发布时间', align: 'center', width: 100, formatter: DataGridExtend.datetimeFormat },
				{ field: 'Status', title: '状态', align: 'center', width: 100 },
				{ field: 'Count', title: '访问量', sortable: true, align: 'center', width: 100 },
                { field: 'op', title: '操作', align: 'center', formatter: opFormat, width: 150 }
          ]]
		});
	});

	function PublishName(val, row, rowIndex) {
		var str = "<a href='/Home/Weaker/" + row.UserID + "' target='_blank'>" + val + "</a>";
		return str;
	}

	//操作列
	function opFormat(val, row, rowIndex) {
		var html = "";
		html = "<a href=\"javascript:void(0)\"  onClick=\"Audit('" + row.ID + "')\" >审核</a> | ";
		html += "<a href=\"javascript:void(0)\"  onClick=\"Del('" + row.ID + "')\" >删除</a>";
		return html;
	}

	function Audit(id) {
		if (confirm('确认要审核选中的心愿吗？')) {
			var ids = "";
			if (id) {
				ids = id;
			} else {
				var row = $('#DataGrid').datagrid('getSelections');

				for (var i = 0; i < row.length; i++) {
					ids += row[i].ID + ';';
				}
			}
			
			if (!ids) {
				alert("请选择要审核的心愿!");
				return;
			}

			$.U1Ajax('/admin/Wish/AuditWishJson', { ids: ids }, function (result) {
				if (result.Tag == 1) {
					alert("审核成功！");
					Reflesh();
				} else {
					alert(result.Message);
				}
			}, false);

		}
	}

	function Del(id) {
		if (confirm('确认要删除该心愿吗？')) {
			$.U1Ajax('/admin/Wish/DeleteWishJson/' + id, null, function (result) {
				if (result.Tag == 1) {
					alert("删除成功！");
					Reflesh();
				} else {
					alert(result.Message);
				}
			}, false);
		}
	}
</script>
